:root{
  /* --textColor:#242424; */
  --pColor:#153794;
  --sColor:#2188FF;
}
*::-webkit-scrollbar{
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  font-size:18px;
  font-family: 'roboto';
}

.Landing-Page {
  max-width: 1366px;
  margin: auto;
}

.home-container {
  height: 100vh;
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
 }

.home-image {
  /* padding-top: 1em; */
  width: 50rem;
  user-select: none;
}

.home-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


delete {
  text-decoration: line-through;
  font-size: calc(16px*4);
  color: #0988ff3e;
}

.home-content p {
  text-align: left;
  padding-bottom: 50px;
  color: var(--textColor);
  font-size: calc(16px*4);
  line-height: 75px;
  font-weight: bolder;
  pointer-events: none;
  user-select: none;
}

.home-content button {
  border-radius: 10px;
  padding: 15px 30px;
  margin: 0.5rem;
}

.home-content button:hover {
  box-shadow: 1px 2px 16px #e5e5e5;
}

.home-content button a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 18px;
}

.primarybtn,
.secondarybtn {
  border: 1px solid transparent;
  background-color: var(--sColor);
  color:white;
  font-size: 18px;
}

.secondarybtn {
  border: 1px solid var(--sColor);
  background-color: transparent;
  color: var(--sColor);
}

button:hover {
  cursor: pointer;
}

.quotes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 5%;
}

.quotes-container p {
  padding: 50px;
  color: var(--textColor);
  font-size: 24px;
  text-align: center;
  font-family: "roboto";

}
#text::before{
  content:"'' "
}
#text::after{
  content:"'' "
}

.service-container {
  padding: 10% 0px;
}

.service-container h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color:var(--pColor);
}

.service-container p {
  color: var(--textColor);
  font-size: 20px;
  padding-top: 20px;
}

.service-container .container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.card1,
.card2,
.card3 {
  text-transform: lowercase;
  color: var(--textColor);
}
.item1,.item2,.item3{
  width:150px;
}






@media (max-width:600px) {
  .home-container {
    flex-direction: column;
  }

  .home-image {
    /* display: none; */
    width: 20em;
  }

  .home-content {
    align-items: center;
    height: 100vh;
  }
 
  .home-content p {
    padding-top: 3rem;
    text-align: right;
    line-height: 3rem;
    font-size: 3rem;
  }
  delete{
    font-size: 3rem;
  }
  .home-content button {
    border-radius: 50px;
    margin-top: 5vh;
    font-size: 20px;

  }

  .quotes-container {
    padding-bottom: 250px;
    font-weight: bold;
  }

  .quotes-container p{
    padding: 10px 0px;
  }
  .service-container p {
    font-size: 16px;
    padding: 10px 0px;
    /* line-height: 28px; */
    /* font-weight: bold; */
  }

  
  .service-container h1 {
    font-size: 28px;    
  }

  .service-container p {
    text-transform: lowercase;
    font-size: 16px;
    padding: 20px 10px;
  }

  .service-container img {
    width: 10rem;
  }

  .card1,
  .card2,
  .card3 {
    font-size: 16px;
    /* font-weight: bold; */
    padding: 2rem 50px;
  }
  .about-container{
    padding: 60px 0px;
    border-radius:30px;
    margin: 2%;
  
     }

}