:root{
  --textColor:#242424;
  --pColor:#153794;
  --sColor:#2188FF;
}

  body {
    margin: 0px;
    font-family: 'segoe ui';
    font-family: 'roboto';
  }
  
  .nav {
    /* height: 70px; */ 
    z-index: 10;   
    padding:10px 5%;
    background-color: #1976d2;

    position: sticky;
    top:0px;

    margin: auto;
    max-width:1366px;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav{
    
background: rgba(255, 255, 255, 0.25);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20px );
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  }
 
  
  .nav > .nav-header {
    display: inline;

  }
  
  .nav > .nav-header > .nav-title::before {
   content: "[ ";
   color:var(--sColor)
  }
  .nav > .nav-header > .nav-title::after {
    content: " ];";
    color:var(--sColor)
   }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    font-family: 'poppins';
    color: var(--pColor);
    padding: 6px 12px;
    
    /* border: 2px solid #1E88E5; */
  }
  .nav > .nav-header > .nav-title:active {
    background-color: #1e88e519;
  }
  
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 16px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    margin: 13px 14px 13px 14px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: var(--textColor);
    text-align: left;

   
  }
  
  .nav > .nav-links > a:hover {
    border-bottom: 2px solid #1E88E5;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav{
      /* background-color:#BBDEFB; */
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 3px solid #1a1a1a;
      /* border-radius: 2px; */
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(255, 255, 255);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      right: 0px;
      color:blac
      
      
    }
    .nav > .nav-links > a {
      display: block;
      color:black;
      text-align: center;
      font-size: 18px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(30vh);
      border-radius: 20px;
      padding-top: 20px;
     
      background-color: aliceblue;
      /* box-shadow: 0px 16px 16px -20px rgba(0, 0, 0, 0.546); */
      
      overflow-y: auto;
    }
  }